<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Recherche Anime</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="search-container">
        <input type="text" id="search" placeholder="Rechercher un anime..." />
        <ul id="suggestions"></ul>
      </div>

      <div id="results-grid" class="grid-container"></div>
    </div>

    <script src="/static/script.js"></script>
  </body>
</html>
